/*headings*/
h1 {
    font-family: Poiret one, cursive; 
    text-align: center; 
    font-weight: bold;
    font-size: 2.5em; 
    padding-top: 1em; 
}

h2{
    color: darkgreen;
}

header {
    background-color: white; 
}
/*nav bar*/
.navbar{
    text-align: center;
    padding-bottom:2em;
    font-family: calibri;
    background: grey;
    padding-top:0.2em;
    padding-bottom: 0.2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0.5em;
}

nav li a{
    text-decoration: none; 
    color: white;
}


/*body styling */

body {
   margin-left: 7em;
   margin-right: 7em; 
   margin-bottom: 0;
}

article{
    background-color: white; 
}

section {
    margin-left: 2em; 
    margin-right: 2em;
}

figcaption{
    font-style: italic; 
    text-align: center; 
    padding-bottom: 1em; 
}

.images {
    width: 50%;
    height: auto;
    margin: auto;
    display: block; 
    padding-bottom: 1em; 
}
/* Contact Section */

#contact{
  background-size:cover;
  text-align: center; 
  padding-bottom:1em;
  padding-top:1em;
  font-family: calibri; 
}

/*Footer*/
footer{
    color:black; 
    font-size:0.8em; 
    text-align:center; 
    padding-top: 2em;
    padding-bottom: 1em;
}
